.fieldErrors{
	padding: 5px 25px;
}

.fieldErrors li{
	text-align:left;
}

.showIfSuccess, .showIfError{
	display: none;
}
.fieldErrors{
	margin: 0;
}
.has-error .fieldErrors{
	color: #A94442;
	background: #FFF2F2;
}

.has-warning .fieldErrors{
	color: #6E5428;
	background-color: #FFFAE8;
}
.validator-error-list{
	/*border: 1px solid #F5D7D7;*/
}
.flash, .pulse{
	background:#FCFFE3;
}
.show-if-success,.show-if-error{
	visibility: hidden;
	display: none;
}
.has-error .show-if-error, .has-warning .show-if-warning, .has-success .show-if-success{
	visibility: visible;
	display: block;
}
.show-if-no-fdb{
	visibility: visible;
	display: block;
}
.has-error .show-if-no-fdb, .show-if-warning .show-if-no-fdb, .has-success .show-if-no-fdb{
	visibility: hidden;
	display: none;
}